* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Albert Sans', sans-serif;
  background-color: #0A0F1A;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive container - centers content */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0F1A;
  overflow: hidden;
}

/* Content wrapper - maintains 16:9 aspect ratio and fits within viewport */
.content-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  max-width: calc(100vh * 16 / 9);
  overflow: hidden;
}

/* Base canvas that all content is rendered on - 1920x1080 internally, scaled to fit */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
}

/* Disable user interactions for kiosk mode */
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

/* Disable context menu */
* {
  -webkit-touch-callout: none;
}
