* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-800.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: '42dot Sans', sans-serif;
  background-color: #0A0F1A;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive container - centers content */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0F1A;
  overflow: hidden;
}

/* Content wrapper - maintains 16:9 aspect ratio and fits within viewport */
.content-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vw * 9 / 16);
  max-height: 100vh;
  max-width: calc(100vh * 16 / 9);
  overflow: hidden;
}

/* Base canvas that all content is rendered on - 1920x1080 internally, scaled to fit */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
}

/* Disable user interactions for kiosk mode */
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

/* Disable context menu */
* {
  -webkit-touch-callout: none;
}